* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 9vh;
    /* Offset for fixed navbar */
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100%;
}

body {
    background-color: #1C2C07;
}

/* FONT */
@font-face {
    font-family: 'Massivertical';
    src: url('../fonts/Massivertical.woff2') format('woff2'),
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Scrollbar Styles from original file */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}